<Modal @ref="_modalRef" Closing="OnModalClosingInternal">
    <ModalContent Centered="true" Size="ModalSize.Small">
        <ModalHeader>
            <Heading Size="HeadingSize.Is1" Alignment="TextAlignment.Center">
                <ModalTitle>
                    @_title
                </ModalTitle>
            </Heading>

            <CloseButton Clicked="async () => await RestoreEditedOrSendNewAsync().ConfigureAwait(false)" />
        </ModalHeader>
        <ModalBody>
            <Validations Mode="ValidationMode.Auto" Model="@_dataToEdit" @ref="_validations">
                <Validation>
                    <Field>
                        <FieldLabel>Hour</FieldLabel>
                        <Select TValue="int?" @bind-SelectedValue="_dataToEdit.Hour">
                            <ChildContent>
                                @foreach (int i in Enumerable.Range(0, 24))
                                {
                                    <SelectItem Value="@i">@i</SelectItem>
                                }
                            </ChildContent>
                            <Feedback>
                                <ValidationNone />
                                <ValidationSuccess />
                                <ValidationError />
                            </Feedback>
                        </Select>
                    </Field>
                </Validation>
                <Validation>
                    <Field>
                        <FieldLabel>Minutes</FieldLabel>
                        <Select TValue="int?" @bind-SelectedValue="_dataToEdit.Quarter">
                            <ChildContent>
                                @foreach (int i in Enumerable.Range(0, 4))
                                {
                                    <SelectItem Value="@i">@(i*15)</SelectItem>
                                }
                            </ChildContent>
                            <Feedback>
                                <ValidationNone />
                                <ValidationSuccess />
                                <ValidationError />
                            </Feedback>
                        </Select>
                    </Field>
                </Validation>
            </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="SubmitAsync" Disabled="!_isObjectNew && !IsDataChanged()" Margin="Margin.IsAuto">Submit</Button>
            <Button Color="Color.Secondary" Clicked="CancelAsync" Margin="Margin.IsAuto">Cancel</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

 @code {
    [Inject]
    protected IMapper Mapper { get; set; } = null!;

    [Parameter]
    public DateTime? Date { get; set; }

    [Parameter]
    public bool SetDefaultsToCurrentDate { get; set; }

    [Parameter]
    public EventCallback<HourWithQuarter> OnFormSubmitted { get; set; }

    [Parameter]
    public EventCallback<HourWithQuarter?> OnFormCancell { get; set; }

    [Parameter]
    public EventCallback HoursHaveChanged { get; set; }

    private HourWithQuarter _dataToEdit { get; set; } = null!;

    private Modal _modalRef = null!;

    private Validations? _validations;

    private string _title = null!;

    private HourWithQuarter? _unchangedCopy;

    private bool _isObjectNew;

    private async Task SubmitAsync()
    {
        if (_validations!.ValidateAll())
        {
            HideModal();

            await OnFormSubmitted.InvokeAsync(_dataToEdit);
        }
    }

    private void HideModal()
        => _modalRef.Hide();

    private void ShowModal(string title)
    {
        _title = title;
        _modalRef.Show();
    }

    public void ShowModal(string title, HourWithQuarter existingHour, bool isObjectNew)
    {
        _isObjectNew = isObjectNew;

        existingHour.PropertyChanged += async (s, e) => await HoursHaveChanged.InvokeAsync();

        _unchangedCopy = Mapper.Map<HourWithQuarter>(existingHour);
        _dataToEdit = existingHour;

        ShowModal(title);
    }

    private async Task CancelAsync()
    {
        HideModal();

        await RestoreEditedOrSendNewAsync().ConfigureAwait(false);
    }

    private async Task RestoreEditedOrSendNewAsync()
    {
        if (_isObjectNew)
        {
            await OnFormCancell.InvokeAsync(_dataToEdit).ConfigureAwait(false);
        }
        else if (IsDataChanged())
        {
            await RestoreOriginalStateAsync();
            await OnFormCancell.InvokeAsync(null).ConfigureAwait(false);
        }
    }

    protected override void OnParametersSet()
    {
        if (_dataToEdit is null)
        {
            _dataToEdit = new HourWithQuarter(Date ?? DateTime.Now);
        }
    }

    private void OnModalClosingInternal(ModalClosingEventArgs e)
    {
        if (e.CloseReason == CloseReason.FocusLostClosing)
        {
            e.Cancel = true;
        }
    }

    private bool IsDataChanged() =>
        !_dataToEdit.Equals(_unchangedCopy);


    private Task RestoreOriginalStateAsync()
    {
        Mapper.Map(_unchangedCopy, _dataToEdit);
        return HoursHaveChanged.InvokeAsync();
    }
 }
